<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application
      android:allowBackup="false"
      android:banner="@mipmap/watch_tv"
      android:icon="@mipmap/watch_tv"
      android:label="@string/app_name"
      android:supportsRtl="false"
      android:theme="@style/Theme.TV"
      android:hardwareAccelerated="true"
      android:usesCleartextTraffic="true">
    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:theme="@style/Theme.TV">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

  <uses-feature
      android:name="android.software.leanback"
      android:required="false" />

  <uses-feature
      android:name="android.hardware.touchscreen"
      android:required="false" />

  <uses-permission android:name="android.permission.INTERNET" />

</manifest>